#1 A projektről:
Célunk hogy a Google Drive API segítségével egy Google Spreadsheet-et használunk adatbázisként.
A Google Drive API-t PHP segítségével implementáljuk.

#2 Jelenlegi helyzet:
A Google API tanulása és tesztelése...
